<launch>
  <node name="extract_color" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="color/camera/image_raw_throttle"/>
    <param name="filename_format" value="c%04d.jpg"/>
    <param name="sec_per_frame" value="0.05"/>
  </node>
  <node name="extract_thermal" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <param name="filename_format" value="t%04d.jpg"/>
    <param name="sec_per_frame" value="0.05"/>
    <remap from="image" to="thermal/camera/image_raw_throttle"/>
  </node>
</launch>
